.dtui-product {
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid gray;
  padding: 0.5em 1em;
}
.dtui-product .dtui-product-description {
  font-size: 1.5em;
  font-weight: bold;
}
.dtui-tiregroup .dtui-product {
  display: inline-block;
}
