<div class="dtui-product dtui-product-tire">
  <div class="dtui-product-description">{{description}}</div>
  <div class="dtui-tire-size">{{size}}</div>
  <div class="dtui-price">{{price}}</div>
</div>
